body {
    font-family: 'roboto', sans-serif;
    background-color:black;
    color:cornsilk;
    margin:0;
    padding: 20px;
}

h1 {
    color:aliceblue
}

p {
    font-size: 18px;
}

a {
    color:gold;
    text-decoration: double;
}